name : Node.js CI
        
        on :
        push :
        branches : [ master ]
        pull_request :
        branches : [ master ]
        
        jobs :
        build :
        
        runs-on : ubuntu-latest
        
        strategy :
        matrix :
        node-version : [12.x]
        
        steps :
        - name : Checkout Rep
        uses : actions/checkout@v2
        - name : Use Node.js ${{ matrix.node-version }}
        uses : actions/setup-node@v1
        with :
        node-version : ${{ matrix.node-version }}
        - name : Installing Packages
        run : npm install
        
        - name : Running Tests
        run : npm test -- --coverage
        
        - name : Upload coverage to Codecov
        uses : codecov/codecov-action@v1
        
        - name : Build
        run : npm run build
